
<section class="banner_section p-0 full_screen">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg" data-img-src="assets/images/banner.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="banner_content text_white">
                                <h2 class="animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s">Customized web scraping solutions</h2>
                                
                                <p class="animation my-4" data-animation="fadeInUp" data-animation-delay="1.5s">Easily adapt to your custom data structure/format requirements.</p>

                                <p class="animation my-4" data-animation="fadeInUp" data-animation-delay="1.5s">We always focus on top-notch quality, but still, with very happy prices.</p>

                                
                                <a class="btn btn-default animation" href="#request-a-free-quote" data-animation="fadeInUp" data-animation-delay="1.8s">Request a Free Quote</a>

                                <a class="btn btn-outline-white animation" href="/reviews" data-animation="fadeInUp" data-animation-delay="1.8s">See past client reviews</a>
                            </div>
                        </div>
                    </div>
                </div><!-- END CONTAINER-->
                </div>
            </div>
            
            
        </div>
        
</section>
