
<section class="banner_section p-0 full_screen">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg" data-img-src="assets/images/banner.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="banner_content text_white">
                                <h2 class="animation text-uppercase text_default" data-animation="fadeInDown" data-animation-delay="1s">Reliable web scraping services</h2>
                                <h3 class="animation" data-animation="fadeInDown" data-animation-delay="1s">transform websites into useful databases, csv files</h3>
                                
                                <p class="animation my-4" data-animation="fadeInUp" data-animation-delay="1.5s"><b>100% accuracy, fast turnaround, affordable price</b></p>

                                <p class="animation my-4" data-animation="fadeInUp" data-animation-delay="1.5s"><b>pay only 20% upfront, money back guarantee</b></p>


                                <a class="btn btn-default animation page-scroll" href="#request-a-quote" data-animation="fadeInUp" data-animation-delay="1.8s">Get started</a>

                                <span>&nbsp;</span>

                                <a class="btn btn-outline-white animation page-scroll" href="#reviews" data-animation="fadeInUp" data-animation-delay="1.8s">client reviews</a>
                            </div>
                        </div>
                    </div>
                </div><!-- END CONTAINER-->
                </div>
            </div>
            
            
        </div>
        
</section>
