<section class="banner_section background_bg parallax_bg" data-parallax-speed="0.5" data-parallax-bg-image="assets/images/banner.jpg">

    <div class="banner_slide_content">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <div class="banner_content animation" data-animation="fadeIn" data-animation-delay="0.8s">
                        <div id="typed-strings" class="d-none">
                            <b>scrape some data off a website?</b> 
                            <b>extract contact leads off a directory?</b> 
                            <b>scrape products off a website?</b>
                            <b>be informed of your competitor's pricing?</b>
                            <b>get data feed weekly from a website?</b>

                        </div>
                        
                        <h3 class="animation" data-animation="fadeInLeft" data-animation-delay="1s" style="color:white; font-size: 1.75rem;">Want to <span id="typed-text" class="text_default"></span></h3>
                        
                        <p class="animation my-4" data-animation="fadeInLeft" data-animation-delay="1.5s" style="color:white;"><b>Exact</b>Data scrape and deliver just <b>exactly</b> what you need. <a href="#reviews" class="text_default"><b><small>Past client reviews</small></b></a>.</p>
                        <!-- <a class="btn btn-outline-black animation" href="#" data-animation="fadeInLeft" data-animation-delay="1.8s">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
</section>
