<form id="request-a-free-quote" action="https://formspree.io/request@exactdata.io" method="POST">

    <div class="service-form">
        <div class="row text-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb10 ">
                <h3>Request a free quote</h3>

            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group service-form-group">
                    <label class="control-label sr-only" for="email"></label>
                    <input id="email" name="email" type="email" placeholder="your email" class="form-control" required>
                    
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group">
                    <label class="control-label sr-only" for="select"></label>
                    <div class="select">
                        <select id="select" name="budget" class="form-control">
                            <option value="unknown">budget</option>
                            <option value="$150 - $500">$150 - $500</option>
                            <option value="$500 - $1000">$500 - $1000</option>
                            <option value="above $1000">above $1000</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group">
                    <label class="control-label sr-only" for="message"></label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="briefly describe your web scraping need..."></textarea>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <button type="submit" onclick="gtag_report_conversion()" class="btn btn-default btn-block mb10">Send Request</button>
                <p><small>We will analyse and reply within 24 hours.</small></p>
            </div>
        </div>
    </div>
</form>
