<form>

    <div class="service-form">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb10 ">
                <h3>Request a custom quote</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group service-form-group">
                    <label class="control-label sr-only" for="name"></label>
                    <input id="name" type="text" placeholder="your name" class="form-control" required>
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group service-form-group">
                    <label class="control-label sr-only" for="email"></label>
                    <input id="email" type="email" placeholder="your email" class="form-control" required>
                    
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group service-form-group">
                    <label class="control-label sr-only" for="website"></label>
                    <input id="website" type="text" placeholder="the website(s) to scrape" class="form-control" required>
                    
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group">
                    <label class="control-label sr-only" for="select"></label>
                    <div class="select">
                        <select id="select" name="select" class="form-control">
                            <option value="">budget</option>
                            <option value="">$150 - $200</option>
                            <option value="">$200 - $300</option>
                            <option value="">$300 - $500</option>
                            <option value="">$500 - $1000</option>
                            <option value="">above $1000</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group">
                    <label class="control-label sr-only" for="textarea"></label>
                    <textarea class="form-control" id="textarea" name="textarea" rows="4" placeholder="briefly describe your web scraping need..."></textarea>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <button type="submit" name="singlebutton" class="btn btn-default btn-block mb10">Send Request</button>
                <p><small>We will analyse and reply within 24 hours.</small></p>
            </div>
        </div>
    </div>
</form>

  

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>