<form id="request-a-free-quote" action="https://formspree.io/request@exactdata.io" method="POST">

    <div class="service-form">
        <div class="row text-center">
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group service-form-group">
                    <label class="control-label sr-only" for="name"></label>
                    <input id="name" name="name" type="name" placeholder="name *" class="form-control" required>
                    
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group service-form-group">
                    <label class="control-label sr-only" for="email"></label>
                    <input id="email" name="email" type="email" placeholder="email *" class="form-control" required>
                    
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="form-group">
                    <label class="control-label sr-only" for="message"></label>
                    <textarea class="form-control" id="message" name="message" rows="5" placeholder="What is your target website? And what kind of data do you need from it?"></textarea>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <button type="submit" onclick="gtag_report_conversion()" class="btn btn-default btn-block mb10">Discuss with an Expert now</button>
                
            </div>
        </div>
    </div>
</form>
