---
layout: base
---

{{content}}

<div class="row justify-content-center" style="padding-top:25px;">

    <h5 class="widget_title"><u>ExactData Reviews:</u></h5>
    <ul class="recent_post list_none">
        {% for review in site.data.reviews limit:10 %}
        <li>
            <blockquote class="blockquote quote_style2">
              <b><i>{{review.job}}</i></b>  
              <p>{{review.comment}}</p>
              <footer class="blockquote-footer"><i>posted by</i> <b>{{review.client}}</b>, <i>from</i> <a target="_blank" href="{{site.upwork_profile_url}}">Upwork</a></footer>
            </blockquote>
            <br/>
        </li>
        {% endfor %}
        
    </ul>

</div>